.Cart{
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    margin-left: auto;
    width: 300px;
    padding:  15px ;
    border-radius: 5px;
    opacity: 0.9;
   
}
.Cart::before{
   content: '';
   position: absolute;
   top: -0.6rem;
   right: 0.5rem;
   width: 15px;
   height: 15px;
   transform: rotate(45deg);
   background-color: #f6f6f6;
   opacity: 0.9;
   border-left: 1px solid gray;
   border-top: 1px solid gray;
}
.Basket{
 margin-bottom: 6px;
}

ul .SpanTwo{
 
    margin-top: 4px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;

}

.emptyCart{
    margin-top: 8px;
    background-color: red;
    color: #fff;
    padding: 8px 4px;
    border-radius: 5px;
    width: 100%;
}
.emptyCart:hover{
    background-color: rgb(131, 24, 24);
    transition: 5ms;
}