*{
    background-color: rgb(249, 247, 247);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.mainTitle {
    margin: 0 auto;
    color: orange;
}

span {
    color: rgb(86, 66, 42);
    margin-left: 30px;
}

.categoryOne {
    text-decoration: none;
    display: inline-flex;
    margin-top: 10px;
    margin-left: 300px;
    gap: 20px;
}

.categoryOne a {
    text-decoration: none;
    color: orange;
}

.icon {
    position: relative;
}

.pawicon {
    font-size: 24px;
    line-height: 32px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-right: 4px;
    margin-top: 10px;
    margin-left: 570px;

}

.pawIconSpan {
    margin: 5px 590px;
    position: absolute;
    background-color: orange;
    color: #fff;
    display: flex;
    width:20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    top: -8px;

}